h1,h2 {
    color: #F26722;
}

P {
    Color: #F26722;
}


.hero img {
    width: 1000px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meny img {
    width: 200px;
}

.meny {
    background-color: #FF9F51;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menybtn a {
    text-decoration: none;
    color: #F26722;
    background-color: #FDFF76;
    border-radius: 20px;
    padding: 10px;
    font-size: 25px;
}

.timeplan {
    display: flex;
}

.priser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
